// logo colors
// dark green #0d4014
// green	#6fa638
// light green #d3d923
// orange #f26e22
// red #f23827

// First version
// $primary:       #70aa3e;
// $secondary:     #6f38a6;
// $info:          #252730;
// $success:       #57ae4b;
// $warning:       #d49d13;
// $danger:        #f44336;
// $light:         #F9F8F9;
// $dark:          #1d1e25;

// Dark Green primary - second version
// $white:         #f5f5f6;
// $primary:       #256c2c;
// $secondary:     #8f3a9c;
// $info:          #38656b;
// $success:       #209825;
// $warning:       #f2c025;
// $danger:        #ea1349;
// $light:         #dee5d8;
// $dark:          #0d4014;

// Maroon primary
$white:         #ffffff;
$primary:       #ae222a;
$secondary:     #999999;
$info:          #1c121b;
$success:       #698545;
$warning:       #e7750d;
$danger:        #f44336;
$light:         #F3F7F4;
$dark:          #1C121B;
$accent-light:  #9791A5;
$accent-dark:   #C24657;


$theme-colors: (
  "primary":    $primary,
  "secondary":  $secondary,
  "success":    $success,
  "info":       $info,
  "warning":    $warning,
  "danger":     $danger,
  "light":      $light,
  "dark":       $dark, 
  "white":      $white,
);

// change pagination style (colours)
// https://getbootstrap.com/docs/5.2/components/pagination/#variables
$pagination-color:        gray;
$pagination-focus-color:  gray;
$pagination-active-color: $dark;
$pagination-active-bg:    $light;
$pagination-active-border-color: #dee2e6;

// import bootstrap
@import '../node_modules/bootstrap/scss/bootstrap';

.btn-bd-primary {
  --bs-btn-font-weight: 600;
  --bs-btn-color: var(--bs-white);
  --bs-btn-bg: var(--primary);
  --bs-btn-border-color: var(--primary);
  --bs-btn-border-radius: .5rem;
  --bs-btn-hover-color: var(--bs-white);
  --bs-btn-hover-bg: #{shade-color($primary, 10%)};
  --bs-btn-hover-border-color: #{shade-color($primary, 10%)};
  --bs-btn-focus-shadow-rgb: var(--primary-rgb);
  --bs-btn-active-color: var(--bs-btn-hover-color);
  --bs-btn-active-bg: #{shade-color($primary, 20%)};
  --bs-btn-active-border-color: #{shade-color($primary, 20%)};
}

// custom styles
.primary-dark {
  color: #0c4a00; 
  background-color: #0c4a00;
}
.primary-light {
  color: #6fa639;
  background-color: #6fa639;
}
.secondary-dark {
  color: #3e0776;
  background-color: #3e0776;
}
.secondary-light {
  color: #a165d8;
  background-color: #a165d8;
}

// Rumble 2022 colours
.text-rumble {
  color: #B3AD40;
}
.text-lead {
  color: #4AF092;
}
.text-speed {
  color: #00DDFF;
}
.text-boulder {
  color: #FF5487;
}

.bg-rumble {
  --bs-bg-opacity: 1;
  background-color: rgba(#B3AD40, var(--bs-bg-opacity)) !important;
}
.bg-lead {
  --bs-bg-opacity: 1;
  background-color: rgba(#4AF092, var(--bs-bg-opacity)) !important;
}
.bg-speed {
  --bs-bg-opacity: 1;
  background-color: rgba(#00DDFF, var(--bs-bg-opacity)) !important;
}
.bg-boulder {
  --bs-bg-opacity: 1;
  background-color: rgba(#FF5487, var(--bs-bg-opacity)) !important;
}

.bg-rumble-purple-dark {
  --bs-bg-opacity: 1;
  background-color: rgba(#351942, var(--bs-bg-opacity)) !important;
}
.bg-rumble-purple {
  --bs-bg-opacity: 1;
  background-color: rgba(#4F2563, var(--bs-bg-opacity)) !important;
}
.bg-rumble-white {
  --bs-bg-opacity: 1;
  background-color: rgba(#FAFAFA, var(--bs-bg-opacity)) !important;
}


.blue-hold { 
    color: $white;
    background-color: $blue-600;  
   }
.red-hold {
    color: $white;
    background-color: $red-600; 
  }
.yellow-hold {
    color: $black;
    background-color: $yellow-400; 
  }
.pink-hold {
    color: $black; 
    background-color: $pink-400; 
  }
.orange-hold {
    color: $black;
    background-color: $orange-500;
}
.green-hold {
    color: $black;
    background-color: #60B36F;
}
.black-hold {
    color: $white;
    background-color: $black;
}
.purple-hold {
    color: $white;
    background-color: $purple-700;
}
.white-hold {
    color: $black;
    background-color: $white;
}


/*
 * DataTables style pagination controls
 * source: https://datatables.net/blog/2014-06-06#Paging-controls
 */
