// sls 2024 colours
$white:         #ffffff;
$primary:       #4fd2d0;
$secondary:     #228779;
$info:          #1aa88e;
$success:       #0db14d;
$warning:       #f1ca0c;
$danger:        #f90434;
$light:         #d0eaeb;
$dark:          #04060c;
$accent-light:  #F2D8B3;
$accent-dark:   #F08F27;

$round1:        #ffc90b; 
$round2:        #0a89fe;
$round3:        #fe3e02;
$round4:        #4caf50;


$theme-colors: (
  "primary":    $primary, 
  "secondary":  $secondary,
  "success":    $success,
  "info":       $info,
  "warning":    $warning,
  "danger":     $danger,
  "light":      $light,
  "dark":       $dark, 
  "white":      $white,
  "accent-light":$accent-light,
  "accent-dark":$accent-dark,
  "round1":     $round1,
  "round2":     $round2,
  "round3":     $round3,
  "round4":     $round4,
);

// change pagination style (colours)
// https://getbootstrap.com/docs/5.2/components/pagination/#variables
$pagination-color:        gray;
$pagination-focus-color:  gray;
$pagination-active-color: $dark;
$pagination-active-bg:    $light;
$pagination-active-border-color: #dee2e6;

// import bootstrap
@import '../../node_modules/bootstrap/scss/bootstrap';

.btn-bd-primary {
  --bs-btn-font-weight: 600;
  --bs-btn-color: var(--bs-white);
  --bs-btn-bg: var(--primary);
  --bs-btn-border-color: var(--primary);
  --bs-btn-border-radius: .5rem;
  --bs-btn-hover-color: var(--bs-white);
  --bs-btn-hover-bg: #{shade-color($primary, 10%)};
  --bs-btn-hover-border-color: #{shade-color($primary, 10%)};
  --bs-btn-focus-shadow-rgb: var(--primary-rgb);
  --bs-btn-active-color: var(--bs-btn-hover-color);
  --bs-btn-active-bg: #{shade-color($primary, 20%)};
  --bs-btn-active-border-color: #{shade-color($primary, 20%)};
}

// custom styles
.blue-hold { 
  color: $white;
  background-color: $blue-600;  
 }
.red-hold {
  color: $white;
  background-color: $red-600; 
}
.yellow-hold {
  color: $black;
  background-color: $yellow-400; 
}
.pink-hold {
  color: $black; 
  background-color: $pink-400; 
}
.orange-hold {
  color: $black;
  background-color: $orange-500;
}
.green-hold {
  color: $black;
  background-color: #60B36F;
}
.black-hold {
  color: $white;
  background-color: $black;
}
.purple-hold {
  color: $white;
  background-color: $purple-700;
}
.white-hold {
  color: $black;
  background-color: $white;
}


/*
 * DataTables style pagination controls
 * source: https://datatables.net/blog/2014-06-06#Paging-controls
 */
